<!DOCTYPE html>
<html>
    <head>
        <title>Edit item</title>
    </head>
    <body>
        <h1>Virtual Store</h1>
        <h2>Edit item</h2>
        <p>Item: <%= item.name %> ($<%= item.price/100 %>)</p>
        <form action="/edit" method="POST">
            <label for="id" style="display: none;">ID</label>
            <input type="number" placeholder="id" name="id" id="id" value="<%= item.id %>" style="display: none"/>
            <label for="newItemName">New name</label>
            <input type="text" placeholder="New item name" name="newItemName" id="newItemName" value="<%= item.name %>"/>
            <label for="newItemPrice">New price</label>
            <input type="number" placeholder="New item price" name="newItemPrice" id="newItemPrice" value="<%= item.price/100 %>"/>
            <button type="submit">Update</button>
        </form>
    </body>
</html>